In [66]:
import pandas as pd

–ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –±–∏–±–ª–∏–æ—Ç–µ–∫—É pandas, –∞ –∑–∞—Ç–µ–º –∑–∞–≥—Ä—É–∑–∏—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç 2_taxi_nyc (–Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –ø–∞–ø–∫–µ). –†–µ–∑—É–ª—å—Ç–∞—Ç —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é taxi.

In [67]:
df = pd.read_csv('2_taxi_nyc.csv')

–ü—Ä–æ–≤–µ—Ä—å—Ç–µ, —Å–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤ –∏–º–µ–µ—Ç—Å—è –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ.

In [68]:
df.shape[0]

29101

In [69]:
# pickup_dt ‚Äì –ø–µ—Ä–∏–æ–¥ —Å —Ç–æ—á–Ω–æ—Å—Ç—å—é –¥–æ —á–∞—Å–∞
# pickup_month ‚Äì –º–µ—Å—è—Ü
# borough ‚Äì —Ä–∞–π–æ–Ω –ù—å—é-–ô–æ—Ä–∫–∞, –∏–∑ –∫–æ—Ç–æ—Ä–æ–≥–æ –±—ã–ª —Å–¥–µ–ª–∞–Ω –∑–∞–∫–∞–∑ (5 —Ä–∞–π–æ–Ω–æ–≤ + –∞—ç—Ä–æ–ø–æ—Ä—Ç)
# pickups ‚Äì —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫ –∑–∞ –ø–µ—Ä–∏–æ–¥ (—á–∞—Å)
# hday ‚Äì —è–≤–ª—è–µ—Ç—Å—è –ª–∏ –¥–µ–Ω—å –ø—Ä–∞–∑–¥–Ω–∏—á–Ω—ã–º/–≤—ã—Ö–æ–¥–Ω—ã–º; Y - –¥–∞,  N - –Ω–µ—Ç
# spd ‚Äì —Å–∫–æ—Ä–æ—Å—Ç—å –≤–µ—Ç—Ä–∞ –≤ –º–∏–ª—è—Ö –≤ —á–∞—Å
# vsb ‚Äì –≤–∏–¥–∏–º–æ—Å—Ç—å
# temp ‚Äì —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –≤ –≥—Ä–∞–¥—É—Å–∞—Ö –§–∞—Ä–µ–Ω–≥–µ–π—Ç–∞
# dewp ‚Äì —Ç–æ—á–∫–∞ —Ä–æ—Å—ã –ø–æ –§–∞—Ä–µ–Ω–≥–µ–π—Ç—É
# slp ‚Äì –¥–∞–≤–ª–µ–Ω–∏–µ
# pcp_01 ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Å–∞–¥–∫–æ–≤ –∑–∞ —á–∞—Å
# pcp_06 ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Å–∞–¥–∫–æ–≤ –∑–∞ 6 —á–∞—Å–æ–≤
# pcp_24 ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Å–∞–¥–∫–æ–≤ –∑–∞ 24 —á–∞—Å–∞
# sd ‚Äì –≥–ª—É–±–∏–Ω–∞ —Å–Ω–µ–≥–∞ –≤ –¥—é–π–º–∞—Ö

–î–∞–≤–∞–π—Ç–µ –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–∏–ø—ã –∫–æ–ª–æ–Ω–æ–∫. –í—Å–µ –ª–∏ –∏–∑ –Ω–∏—Ö —Å—á–∏—Ç–∞–ª–∏—Å—å –ø—Ä–∞–≤–∏–ª—å–Ω–æ? –ù–∞–∑–æ–≤–∏—Ç–µ —Ç–∏–ø, –ø—Ä–µ–æ–±–ª–∞–¥–∞—é—â–∏–π –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ.

In [70]:
df.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

In [71]:
df.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

In [72]:
df.dtypes.value_counts()

float64    9
object     4
int64      1
Name: count, dtype: int64

–¥–∞—Ç—ã —Å—á–∏—Ç–∞–ª–∏—Å—å –∫–∞–∫ object, –∞ –Ω–µ timedata
–ø—Ä–µ–æ–±–ª–∞–¥–∞—é—â. —Ç–∏–ø - float64

–ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–æ–∫

In [73]:
df = df.rename(columns=lambda x: x.replace(' ', '_'))
df.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

In [74]:
# df = df.rename(columns={'pcp 01': 'pcp_01','pcp 06': 'pcp_06', 'pcp 24': 'pcp_24'})

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29101 entries, 0 to 29100
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pickup_dt     29101 non-null  object
 1   pickup_month  29101 non-null  object
 2   borough       26058 non-null  object
 3   pickups       29101 non-null  int64
 4   hday          29101 non-null  object
 5   spd           29101 non-null  float64
 6   vsb           29101 non-null  float64
 7   temp          29101 non-null  float64
 8   dewp          29101 non-null  float64
 9   slp           29101 non-null  float64
 10  pcp_01        29101 non-null  float64
 11  pcp_06        29101 non-null  float64
 12  pcp_24        29101 non-null  float64
 13  sd            29101 non-null  float64
dtypes: float64(9), int64(1), object(4)
memory usage: 3.1+ MB

In [76]:
df.tail()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
29096,2015-06-30 23:00:00,Jun,EWR,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29097,2015-06-30 23:00:00,Jun,Manhattan,3828,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29098,2015-06-30 23:00:00,Jun,Queens,580,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29099,2015-06-30 23:00:00,Jun,Staten Island,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29100,2015-06-30 23:00:00,Jun,NaN,3,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0

—Å–∫–æ–ª—å–∫–æ –ø–æ–µ–∑–¥–æ–∫ —Å–æ–≤–µ—Ä—à–µ–Ω–æ –≤ –º–∞–Ω—Ö–µ—Ç—Ç–µ–Ω–µ

In [77]:
df[df.borough=='Manhattan'].shape[0]

4343

In [78]:
df.borough.value_counts()

borough
Bronx            4343
Brooklyn         4343
EWR              4343
Manhattan        4343
Queens           4343
Staten Island    4343
Name: count, dtype: int64

In [79]:
int(df['borough'].value_counts()['Manhattan'])

4343

—Å–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ –ø–æ–µ–∑–¥–æ–∫

In [80]:
df.pickups.sum()

14265773

–ø–æ–µ–∑–¥–æ–∫ –ø–æ —Ä–∞–π–æ–Ω–∞–º

In [81]:
df.groupby('borough').aggregate({'pickups': 'sum'}).sort_values('pickups', ascending=False)

                pickups
borough
Manhattan      10367841
Brooklyn        2321035
Queens          1343528
Bronx            220047
Staten Island      6957
EWR                 105

–º–∞–∫—Å–∏–º—É–º —Ä–∞–π–æ–Ω –ø–æ –ø–æ–µ–∑–¥–∫–∞–º

In [82]:
df.groupby('borough').agg({'pickups': 'sum'}).idxmax()

pickups    Manhattan
dtype: object

9) ‚≠êÔ∏è–ó–∞–¥–∞–Ω–∏–µ —Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π!‚≠êÔ∏è
–ï—â–µ –Ω–µ—Å–∫–æ–ª—å–∫–æ –ø–æ–ª–µ–∑–Ω—ã—Ö –º–µ—Ç–æ–¥–æ–≤ –≤ pandas! –í–æ–∑–º–æ–∂–Ω–æ, –≤ –ø—Ä–µ–¥—ã–¥—É—â–µ–º —Å—Ç–µ–ø–µ –≤—ã –ø—Ä–æ—Å—Ç–æ –ø–æ—Å–º–æ—Ç—Ä–µ–ª–∏ –Ω–∞ –¥–∞–Ω–Ω—ã–µ –∏–ª–∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏ –∑–Ω–∞—á–µ–Ω–∏—è. –£—Å–∫–æ—Ä–∏—Ç—å –¥–∞–Ω–Ω—ã–π –ø—Ä–æ—Ü–µ—Å—Å –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –ø–æ–º–æ–≥—É—Ç –º–µ—Ç–æ–¥—ã idxmin() –∏ idxmax(), –∫–æ—Ç–æ—Ä—ã–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∏–Ω–¥–µ–∫—Å –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–≥–æ –∏–ª–∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è.
–°–æ—Ö—Ä–∞–Ω–∏—Ç–µ –Ω–∞–∑–≤–∞–Ω–∏–µ —Ä–∞–π–æ–Ω–∞ —Å –Ω–∞–∏–º–µ–Ω—å—à–∏–º —á–∏—Å–ª–æ–º –ø–æ–µ–∑–¥–æ–∫ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é min_pickups, –ø—Ä–∏–º–µ–Ω–∏–≤ –ø–æ–¥—Ö–æ–¥—è—â–∏–π –º–µ—Ç–æ–¥.

In [ ]:
min_pickups = df.groupby('borough').agg({'pickups': 'sum'}).idxmin()[0]

C:\Users\–ö–∏—Ä–∏–ª–ª\AppData\Local\Temp\ipykernel_17224\1734523093.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  min_pickups = df.groupby('borough').agg({'pickups': 'sum'}).idxmin()[0]

In [84]:
min_pickups

'EWR'

10) –ü—Ä–æ–¥–æ–ª–∂–∏–º –∏–∑—É—á–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –∏ –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫ –≤ –≤—ã—Ö–æ–¥–Ω—ã–µ –¥–Ω–∏. –°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –¥–≤—É–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º: —Ä–∞–π–æ–Ω—É –≥–æ—Ä–æ–¥–∞ –∏ —è–≤–ª—è–µ—Ç—Å—è –ª–∏ –¥–µ–Ω—å –≤—ã—Ö–æ–¥–Ω—ã–º (–∫–æ–ª–æ–Ω–∫–∏ borough –∏ hday). –°—Ä–∞–≤–Ω–∏—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫, –∏ –Ω–∞–∑–æ–≤–∏—Ç–µ —Ä–∞–π–æ–Ω—ã, –∏–∑ –∫–æ—Ç–æ—Ä—ã—Ö –ø–æ –ø—Ä–∞–∑–¥–Ω–∏–∫–∞–º –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–æ—Å—Ç—É–ø–∞–µ—Ç –±–æ–ª—å—à–µ –∑–∞–∫–∞–∑–æ–≤, —á–µ–º –≤ –æ–±—ã—á–Ω—ã–µ –¥–Ω–∏.

In [85]:
df.groupby(['borough', 'hday']).agg({'pickups': 'mean'})

                        pickups
borough       hday
Bronx         N       50.771073
              Y       48.065868
Brooklyn      N      534.727969
              Y      527.011976
EWR           N        0.023467
              Y        0.041916
Manhattan     N     2401.302921
              Y     2035.928144
Queens        N      308.899904
              Y      320.730539
Staten Island N        1.606082
              Y        1.497006

11) –î–ª—è –∫–∞–∂–¥–æ–≥–æ —Ä–∞–π–æ–Ω–∞ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —á–∏—Å–ª–æ –ø–æ–µ–∑–¥–æ–∫ –ø–æ –º–µ—Å—è—Ü–∞–º. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ —É–±—ã–≤–∞–Ω–∏—é –∏ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ —Ä–µ–∑—É–ª—å—Ç–∏—Ä—É—é—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ pickups_by_mon_bor. –û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –∏—Ç–æ–≥–æ–≤—ã–π –¥–∞—Ç–∞—Å–µ—Ç –¥–æ–ª–∂–µ–Ω —Å–æ—Å—Ç–æ—è—Ç—å –∏–∑ 3-—Ö –∫–æ–ª–æ–Ω–æ–∫ ‚Äì pickup_month, borough, pickups.

In [86]:
pickups_by_mon_bor = df.groupby(['borough', 'pickup_month'], as_index=False).agg({'pickups': 'sum'}).sort_values('pickups', ascending=False)
pickups_by_mon_bor

          borough pickup_month  pickups
21      Manhattan          Jun  1995388
23      Manhattan          May  1888800
19      Manhattan          Feb  1718571
22      Manhattan          Mar  1661261
18      Manhattan          Apr  1648278
20      Manhattan          Jan  1455543
9        Brooklyn          Jun   482466
11       Brooklyn          May   476087
6        Brooklyn          Apr   378095
10       Brooklyn          Mar   346726
7        Brooklyn          Feb   328650
8        Brooklyn          Jan   309011
27         Queens          Jun   286311
29         Queens          May   275893
28         Queens          Mar   219561
24         Queens          Apr   216857
25         Queens          Feb   185695
26         Queens          Jan   159211
5           Bronx          May    53037
3           Bronx          Jun    49006
0           Bronx          Apr    34617
4           Bronx          Mar    32232
1           Bronx          Feb    28694
2           Bronx          Jan    22461
33  Staten Island          Jun     1673
35  Staten Island          May     1517
30  Staten Island          Apr     1068
34  Staten Island          Mar      975
31  Staten Island          Feb      903
32  Staten Island          Jan      821
15            EWR          Jun       29
17            EWR          May       27
16            EWR          Mar       14
13            EWR          Feb       14
14            EWR          Jan       11
12            EWR          Apr       10

12) üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ
–¢–µ–ø–µ—Ä—å –∑–∞–¥–∞—á–∞ –ø–æ—Å–ª–æ–∂–Ω–µ–µ! –ü–æ–ø—Ä–∞–∫—Ç–∏–∫—É–µ–º—Å—è –≤ –Ω–∞–ø–∏—Å–∞–Ω–∏–∏ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –∏ –∏—Ö –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–∏ –∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É. –ü–æ—Å–∫–æ–ª—å–∫—É –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–µ–∑–¥–∫–∞—Ö –≤ –ù—å—é-–ô–æ—Ä–∫–µ, —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∞ –≤ –≥—Ä–∞–¥—É—Å–∞—Ö –§–∞—Ä–µ–Ω–≥–µ–π—Ç–∞. 
–ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é temp_to_celcius, –∫–æ—Ç–æ—Ä–∞—è –ø–æ–ª—É—á–∞–µ—Ç –Ω–∞ –≤—Ö–æ–¥ –∫–æ–ª–æ–Ω–∫—É —Å —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–æ–π –≤ ¬∞F, –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏—è, –ø–µ—Ä–µ–≤–µ–¥–µ–Ω–Ω—ã–µ –≤ –≥—Ä–∞–¥—É—Å—ã –¶–µ–ª—å—Å–∏—è.

In [87]:
def temp_to_celsius(Fahrenheit):
    Celsius = ((Fahrenheit-32) *5.0)/(9.0)
    return Celsius
temp_to_celsius(df.temp)

0        -1.111111
1        -1.111111
2        -1.111111
3        -1.111111
4        -1.111111
           ...
29096    23.888889
29097    23.888889
29098    23.888889
29099    23.888889
29100    23.888889
Name: temp, Length: 29101, dtype: float64

In [88]:
df.temp = df.temp.map(temp_to_celsius)
df

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,-1.111111,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,-1.111111,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,-1.111111,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,-1.111111,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,-1.111111,7.0,1023.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29096,2015-06-30 23:00:00,Jun,EWR,0,N,7.0,10.0,23.888889,65.0,1011.8,0.0,0.0,0.0,0.0
29097,2015-06-30 23:00:00,Jun,Manhattan,3828,N,7.0,10.0,23.888889,65.0,1011.8,0.0,0.0,0.0,0.0
29098,2015-06-30 23:00:00,Jun,Queens,580,N,7.0,10.0,23.888889,65.0,1011.8,0.0,0.0,0.0,0.0
29099,2015-06-30 23:00:00,Jun,Staten Island,0,N,7.0,10.0,23.888889,65.0,1011.8,0.0,0.0,0.0,0.0
29100,2015-06-30 23:00:00,Jun,NaN,3,N,7.0,10.0,23.888889,65.0,1011.8,0.0,0.0,0.0,0.0